*{
    padding: 0;
    margin: 0;
  }

.header {
    overflow: hidden;
    background-size: cover;
    background-color: #f2f2f2;
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px;
    margin-bottom: 10px;
  }

.header a {
    float: left;
    color: rgb(34, 163, 206);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

.header a.logo {
    font-size: 35px;
    font-family: "Fredricka The Great", cursive;
  }

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textContainers {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    background-color: rgb(34, 163, 206);
    border-radius: 10px;
    outline: 5px solid rgb(13, 88, 113);
    height:200px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;

    
}


 
.searchBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}




