.row{
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-grow: 0.25;
    border: 1px solid black;
}

@media (max-width: 720px){
    .col{
        width: calc(50% - 2px)
    }
}

@media (max-width: 360px){
    .col{
        width: calc(100% - 2px)
    }
}